@use '../globals/' as *;
@use '../breakpoints/' as *;


// RIGHT SECTION
.rightsegment{
    
    padding: 30px 50px;
    
    
    text-align: center;
    h2{
        text-align: left;
        margin: auto;
        width: 280px;
        font-weight: $fontweight-regular;
        margin-bottom: 40px;
        .design, .life {
            font-weight: $fontweight-semibold;
        }
    }

}
// TEST SECTION

.testsectionright{
    // REPSONSIVE QUERIES
    @include devices(mobile) {
        margin: 0 auto;
        width: 20rem;
        height: 20rem;
    }
    @include devices (tablet) {
        margin: 0 auto;
        width: 18rem;
        height: 18rem;
    }
    @include bgcolour;
    @include testbgimg;
    webkit-animation: morph 11s ease-in-out infinite;
    animation: morph 11s ease-in-out infinite;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 25rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 25rem;
    -webkit-animation: morph 11s ease-in-out infinite;
}

.floating-lang{
    animation: rotate 11s linear infinite;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    .leftseg-flimgs {
        display: grid;
            grid-template-columns: auto;
            row-gap: 100px;
            padding-top: 60px;
            
        img{
            
            width: 50px;
        
    }
}
    .rightseg-flimgs {
        display: grid;
      
            grid-template-columns: auto;
            row-gap: 50px;
        img{
            width: 50px;
        
    }
    }
}