@use '../globals/' as *;
@use '../breakpoints/' as *;



.about{
    background-color: rgba(240, 232, 230, 0.596);
    display: flex;
    padding: 50px 30px;
    gap: 100px;

    // RESPONSIVE QUERY
    @include devices (mobile) {
        flex-direction: column;
        padding: 50px 15px;
        gap: 10px;
        text-align: center;
        .sec-title{
            font-size: $fontsize-subheader;
        }
    }
    .sec-title{
       min-width: fit-content;
       font-size: large;
       font-weight: $fontweight-semibold;
    }
}
.aboutme-desc{
    .morebio{
        display: none;
    }
}
.readmore{
    color: purple;
    font-weight: $fontweight-semibold;
    .readmore:hover{
        .morebio {
        }
    }
}
.sectright-bio{
    display: grid;

}
.contact-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;

    // RESPONSIVE QUERY
    @include devices (mobile) {
        .contact-card{
            display: grid;
            background-color: rgba(200, 182, 236, 0.644);
            padding: 5px 20px;
            border-radius: 0.3rem;
            align-content: center;
            
            .ccard-info img{
                width: 17px;
                margin-right: 5px;
            }
        }
    .ccard-title{
        color: purple;
        font-weight: $fontweight-semibold;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .ccard-info{
        color: rgba(160, 26, 160, 0.822);
        font-weight: 600;
        display: flex;
        align-content: center;
        font-size: 10px;
    }
    
    }

    }

    .contact-card{
        display: grid;
        background-color: rgba(200, 182, 236, 0.644);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
        :hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
    }
        padding: 5px 25px;
        border-radius: 0.3rem;
        align-content: center;
        .ccard-info img{
            width: 20px;
            margin-right: 5px;
            
        }
}


.ccard-title{
    color: purple;
    font-weight: $fontweight-semibold;
    margin-bottom: 10px;
}
.ccard-info{
    color: rgba(160, 26, 160, 0.822);
    font-weight: 600;
    display: flex;
    align-content: center;
}
