@use '../globals/' as *;



.about{
    background-color: rgba(240, 232, 230, 0.596);
    display: flex;
    padding: 50px 30px;
    gap: 100px;
    .sec-title{
       min-width: fit-content;
    }
}
.aboutme-desc{
    .morebio{
        display: none;
    }
}
.readmore{
    color: purple;
    font-weight: $fontweight-semibold;
    .readmore:hover{
        .morebio {
        }
    }
}
.sectright-bio{
    display: grid;

}
.contact-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    .contact-card{
        display: grid;
        background-color: rgba(200, 182, 236, 0.644);
        padding: 5px 25px;
        border-radius: 0.3rem;
        align-content: center;
        .ccard-info img{
            width: 20px;
            margin-right: 5px;
            
        }
}
}

.ccard-title{
    color: purple;
    font-weight: $fontweight-semibold;
    margin-bottom: 10px;
}
.ccard-info{
    color: rgba(160, 26, 160, 0.822);
    font-weight: 600;
    display: flex;
    align-content: center;
}
