@use '../globals/' as *;
@use '../breakpoints/' as *;

.Projects{
    margin: 0 auto;
    font-size: $fontsize-header ;
    font-weight: $fontweight-semibold;
}
.Projects-sect{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 15rem;
}
.proj-reversedcard  {
    flex-direction: row-reverse;
    @include devices (mobile) {
        flex-direction: column !important;
    }
}
.project-card {
    border-radius: $border-radius-button;
    -webkit-border-radius: $border-radius-button;
    -moz-border-radius: $border-radius-button;
    -ms-border-radius: $border-radius-button;
    -o-border-radius: $border-radius-button;
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px dashed grey;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0 auto;
    

    // RESPONSIVENESS   QUERY

    @include devices (tablet) {
        gap: 2rem;
        padding: 1.5rem;

        .project-sample {
            height: 15rem;
                width: 15rem;
            img{
                height: 15rem;
                width: 15rem;
            }
        }
    }

    @include devices (mobile) {
        width: 90%;
        gap: 1rem;
        padding: 1rem;
        padding-top: 1.3rem;
        flex-direction: column;
        padding-bottom: 3rem;
        .project-sample {
            height: 10rem;
                width: 10rem;
                margin: 0 auto;
            img{
                
                height: 10rem;
                width: 10rem;
            }
        }

        .project-info {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-items: center;
        }

        .project-title{
            font-size: 1rem;
            font-weight: $fontweight-semibold;
            letter-spacing: 0.1rem;
        }
        .project-desc{
            color: $text-colour-grey;
            font-size: small;
           
        }

    }


}



.project-sample {
    background-color: hsla(0,0%,46%,.2);
    border-radius: 1.7rem;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    height: 20.3rem;
    width: 20.3rem;
    overflow: hidden;
img{
    overflow: hidden;
    background-color: hsla(0,0%,46%,.2);
    border-radius: 1.7rem;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    height: 20rem;
    width: 20rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    cursor: pointer;
    &:hover {
        scale: 1.02;
    }
}
}


.project-info {
    width: 350px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-items: center;
}

.project-title{
    font-size: 1.3rem;
    font-weight: $fontweight-semibold;
    letter-spacing: 0.1rem;
}
.project-desc{
    color: $text-colour-grey;
   
}

.tools {
    display: flex;
    gap: 15px;
    justify-content: center;
    :hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}

    .toolbox{
        font-weight: $fontweight-semibold;
        background-color: rgb(233, 224, 224);
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        padding: 4px 10px;
        font-size: small;
       
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;

        
}
}

.project-view{
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    .sourcecode {
        a{
            color: black;
            i{
                margin-left: 5px;
                color: black;
                :hover {
                    
                }
            }
        }
    }

    .liveview{
        a{
            color: black;
            i{
                margin-left: 5px;
                color: black;
                :hover {
                    
                }
            }
        }
    }
}