

// VARIABLES
$text-colour-black: black;
$text-colour-grey: rgba(26, 25, 25, 0.678);
$background-colour-blue: #5562ff ;
$background-colour-pink: #fe481c;
$background-colour-black: black;
$fontweight-bold: 800;
$fontweight-semibold: 700;
$fontweight-regular: 300;
$fontsize-header: 2rem;
$fontsize-regular: 1rem;
$fontsize-subheader: 1.3rem;
$border-radius-button: 1rem;
$line-height: 0.7rem ;
